global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
  stats timeout 30s
  user haproxy
  group haproxy
  daemon
  maxconn 2048
  nbthread 16
  nbproc 1
  cpu-map auto:1/1-4 0-3

  ssl-default-server-options no-sslv3 no-tls-tickets
  ssl-default-server-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-S$

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private
  tune.ssl.default-dh-param 2048

defaults
  log  global
  mode  tcp
  option  tcplog
  option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

frontend nodeosfront
  bind *:9876
  option tcplog
  mode tcp
  timeout client 4h
  option clitcpka
  default_backend nodeosback

backend nodeosback
  mode tcp
  balance leastconn
  timeout connect 5000
  timeout server 4h
  server <name>  <ip-address>:<port> maxconn 50 check
  server <name>  <ip-address>:<port> maxconn 50 check
  server <name>  <ip-address>:<port> maxconn 50 check
